<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Stephenson's Site</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link href="./output.css" rel="stylesheet">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
</head>
<body class="flex flex-col items-center bg-gray-100 text-gray-800 p-4 font-mono">

    <div class="fixed top-2 right-4 flex space-x-4 text-xs text-gray-600">
        <a href="https://linkedin.com/in/tompstephenson" target="_blank" class="hover:text-blue-500">LinkedIn</a>
    </div>

    <!-- Top Navigation Bar -->
    <nav class="mt-3 w-min bg-white shadow-md rounded-xl flex flex-col py-4 items-center justify-between">
        <h1 class="text-2xl font-bold">Tom Stephenson</h1>
        <!-- Section Headers -->
        <div class="max-w-4xl mx-auto px-6 py-1 flex justify-between items-center">
            <ul class="flex space-x-8">
                <li><a href="#" hx-target="#content" hx-get="home.html" class="text-gray-700 hover:text-blue-500">Home</a></li>
                <li><a href="#" hx-target="#content" hx-get="resume.html" class="text-gray-700 hover:text-blue-500">Resume</a></li>
                <li><a href="#" hx-target="#content" hx-get="skills.html" class="text-gray-700 hover:text-blue-500">Skills</a></li>
                <li><a href="#" hx-target="#content" hx-get="about.html" class="text-gray-700 hover:text-blue-500">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content Area (HTMX will swap content here) -->
    <main id="content" hx-get="home.html" hx-trigger="load" class="flex flex-col items-center justify-center flex-grow p-4">
        <!-- Content from home.html will be loaded here by HTMX -->
    </main>

</body>
</html>